.hero {
  padding-top: 150px;
  margin-bottom: 50px;
  text-align: center;

  & .title {
    font-family: var(--font-display);
    font-size: var(--font-xlg);
    font-weight: 400;
  }

  & .desc {
    margin-top: 8px;
    color: var(--color-foreground-subtle);
  }
}
