.tabs {
  display: flex;
  column-gap: 4px;
  align-items: center;
  margin-bottom: 32px;

  & button {
    flex-grow: 1;
    height: 44px;
    font-size: var(--font-sm);
    color: var(--color-foreground-subtle);
    cursor: pointer;
    background: transparent;
    border: none;
    border-radius: 8px;

    &.active {
      font-weight: 500;
      color: var(--color-foreground);
    }

    &.countdown.active {
      background: linear-gradient(
        90deg,
        var(--color-neutral-100),
        var(--color-neutral-50)
      );
      box-shadow: inset 3px 0 0 var(--color-neutral-300);
    }

    &.pomodoro.active {
      background: linear-gradient(
        90deg,
        var(--color-neutral-50),
        var(--color-neutral-100)
      );
      box-shadow: inset -3px 0 0 var(--color-neutral-300);
    }
  }

  & .divider {
    width: 1px;
    height: 32px;
    background-color: var(--color-neutral-200);
  }
}
