.form {
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  & .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    font-weight: 500;
    cursor: pointer;
    background-color: var(--color-neutral-950);
    border: none;
    border-radius: 8px;
    outline: none;
  }
}

.timeFields {
  display: flex;
  column-gap: 12px;
  align-items: flex-end;
  justify-content: space-between;
}

.timers {
  margin-top: 48px;

  & > header {
    display: flex;
    column-gap: 12px;
    align-items: center;
    margin-bottom: 16px;

    & .title {
      font-family: var(--font-display);
      font-size: var(--font-lg);
      line-height: 1;
    }

    & .line {
      flex-grow: 1;
      height: 0;
      border-top: 1px dashed var(--color-neutral-200);
    }
  }
}

.field {
  flex-grow: 1;

  & .label {
    display: block;
    margin-bottom: 8px;
    font-size: var(--font-sm);
    font-weight: 500;

    & .optional {
      font-weight: 400;
      color: var(--color-foreground-subtle);
    }
  }

  & .input {
    width: 100%;
    min-width: 0;
    height: 40px;
    padding: 0 16px;
    color: var(--color-foreground);
    background-color: var(--color-neutral-100);
    border: 1px solid var(--color-neutral-200);
    border-radius: 8px;
    outline: none;
  }
}

.timer {
  padding: 8px;
  overflow: hidden;
  background-color: var(--color-neutral-100);
  border: 1px solid var(--color-neutral-200);
  border-radius: 8px;

  &:not(:last-of-type) {
    margin-bottom: 24px;
  }

  & .header {
    position: relative;
    top: -8px;
    width: 100%;

    & .bar {
      height: 2px;
      margin: 0 -8px;
      background-color: var(--color-neutral-200);

      & .completed {
        height: 100%;
        background-color: var(--color-neutral-500);
        transition: 0.2s;
      }
    }
  }

  & .footer {
    display: flex;
    align-items: center;

    & .control {
      display: flex;
      flex-grow: 1;
      column-gap: 4px;
      align-items: center;
      height: 40px;
      padding: 4px;
      background-color: var(--color-neutral-50);
      border: 1px solid var(--color-neutral-200);
      border-radius: 4px;

      & .input {
        flex-grow: 1;
        width: 100%;
        min-width: 0;
        height: 100%;
        padding: 0 8px;
        color: var(--color-foreground-subtle);
        background-color: transparent;
        border: none;
        border-radius: 4px;
        outline: none;

        &.finished {
          text-decoration: line-through;
        }
      }

      & .button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        aspect-ratio: 1 / 1;
        color: var(--color-foreground);
        cursor: pointer;
        background-color: var(--color-neutral-200);
        border: 1px solid var(--color-neutral-300);
        border-radius: 2px;
        outline: none;
        transition: 0.2s;

        &.reset {
          background-color: var(--color-neutral-100);
          border: none;
        }

        &:disabled {
          cursor: not-allowed;
          opacity: 0.6;
        }
      }
    }
  }

  & .left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-family: var(--font-mono);
    font-size: var(--font-2xlg);
    font-weight: 700;

    & span {
      color: var(--color-foreground-subtle);
    }
  }
}
