---
import { Container } from './container';
---

<section class="about">
  <Container>
    <h2 class="title">What is Timesy?</h2>
    <p class="desc">
      Timesy is a free, open-source online timer designed to maximize focus and
      eliminate distractions. Run multiple timers simultaneously and store them
      locally for persistence across sessions. Whether you&apos;re a student,
      professional, or just someone who needs to stay on track, Timesy can help
      you achieve your goals.
    </p>
  </Container>
</section>

<style>
  .about {
    margin-top: 48px;

    & .title {
      margin-bottom: 12px;
      font-family: var(--font-display);
      font-size: var(--font-lg);
      line-height: 1;
    }

    & .desc {
      line-height: 1.65;
      color: var(--color-foreground-subtle);
    }
  }
</style>
